extends layout/_main

block append config
  //- ===========================================
  //-   ページの設定
  //- ===========================================
  -
    const page = {
      title: `${SITE_NAME} | 〇〇〇〇`,
      description: '各ページ固有の説明文を124文字程度で',
      path: ROOT_PATH,
      image: SITE_URL + 'OGP画像のファイルパス'
    }

block append head
  //- ===========================================
  //-   ページ用のスタイルやスクリプト
  //- ===========================================


block mainContent
  //- ===========================================
  //-   メインコンテンツ
  //- ===========================================
  .p-hero
    .l-container
      p.p-hero__title Top page

  section.l-spacer
    .l-container
      h2.c-heading The First Section

block script
  //- ===========================================
  //-   エンベッドのスクリプト
  //- ===========================================
  include include/_schema
