@charset 'UTF-8';
//====================================
//  Easing
//====================================
$duration: 0.4s;
$easing: cubic-bezier(0.165, 0.84, 0.44, 1);
$easing-cut: cubic-bezier(0.8, 0, 0.2, 1);
