@charset 'UTF-8';
@use "sass:math";
@use "../global"as *;

/*
  Grid
*/

.l-grid {
  $this: &;
  display: grid;


  &[data-direction="reverseRow"] {
    direction: rtl;
  }

  @each $device,
  $breakpoint in $breakpoints {
    @media screen and (min-width: $breakpoint) {

      @each $size,
      $val in $gutters {
        &[data-gap~="#{$device}:#{$size}"] {
          gap: pxToRem($val);
          gap: flexClamp(math.div($val, 2), $val);
        }

        &[data-gap~="#{$device}:#{$size}Row"] {
          row-gap: pxToRem($val);
          row-gap: flexClamp(math.div($val, 2), $val);
        }

        &[data-gap~="#{$device}:#{$size}Column"] {
          column-gap: pxToRem($val);
          column-gap: flexClamp(math.div($val, 2), $val);
        }
      }

      @for $i from 1 through $column {
        &[data-repeat~="#{$device}:#{$i}"] {
          grid-template-columns: repeat($i, 1fr);
          grid-template-rows: 1fr;
        }
      }
    }
  }
}