@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  Spacer
-----------------------------------------------------*/
.l-spacer {
  @each $device, $breakpoint in $breakpoints {
    @media screen and (min-width: $breakpoint) {
      @each $size, $val in $spaces {
        &[data-y~="#{$device}:#{$size}"] {
          padding: pxToRem($val) 0;
        }

        &[data-y~="#{$device}:#{$size}Top"] {
          padding-top: pxToRem($val);
        }

        &[data-y~="#{$device}:#{$size}Bottom"] {
          padding-bottom: pxToRem($val);
        }

        &[data-x~="#{$device}:#{$size}"] {
          padding: 0 pxToRem($val);
        }

        &[data-x~="#{$device}:#{$size}Right"] {
          padding-right: pxToRem($val);
        }

        &[data-x~="#{$device}:#{$size}Left"] {
          padding-left: pxToRem($val);
        }
      }

      &[data-reset~="#{$device}:all"] {
        padding: 0;
      }

      &[data-reset~="#{$device}:top"] {
        padding-top: 0;
      }

      &[data-reset~="#{$device}:right"] {
        padding-right: 0;
      }

      &[data-reset~="#{$device}:bottom"] {
        padding-bottom: 0;
      }

      &[data-reset~="#{$device}:left"] {
        padding-left: 0;
      }
    }
  }

  &.-line {
    border-bottom: 1px solid $primary-border-color;
  }

  &.-bgGrey {
    background-color: #ddd;
  }

  &.-bgMain {
    background-color: $main-color;
  }

  &.-overflow {
    overflow: hidden;
  }
}
