@charset 'UTF-8';
@use "../setting" as *;

@use "../function" as *;
@use "./ie11" as *;

@mixin ff($minFontSize, $maxFontSize, $minWidth: $sp-comp-width, $maxWidth: $pc-comp-width) {
  min-height: 0.0001vw; // Safariバグ対策
  font-size: flexClamp($minFontSize, $maxFontSize, $minWidth, $maxWidth);

  @include ie11() {
    font-size: pxToRem($maxFontSize); // IE対策
  }
}
