@charset 'UTF-8';
@use "../setting" as *;

@use "../function" as *;
@use "./ie" as *;
@use "sass:math";
@use "sass:map";

@mixin hover() {
  &:focus {
    @content;
  }

  @media (hover: hover) and (pointer: fine) {
    //ホバー可能かつマウスなどの正確性のあるポインターデバイスを使用している場合
    &:hover {
      @content;
    }
  }

  @include ie() {
    &:hover {
      @content;
    }
  }
}
